<p id="notice"><%= notice %></p>
<%= link_to 'New Routine', new_routine_path, class: 'btn btn-primary' %>

<h1>Routines</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th class="col-xs-1">Name</th>
  </tr>
  </thead>

  <tbody>
  <% @routines.each do |routine| %>
      <% if routine.name %>
          <tr>
            <td><%= link_to routine.name, routine %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
