<p id="notice"><%= notice %></p>
<h1>Routines</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Routine', new_routine_path %>